.HomeButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
    padding: 10px 10px 10px;
}

.HomeButton ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.HomeButton li {
    padding-left: 16px;
}

.HomeButton li:before {
    font-size: 25px;
    content: "ℵ";
    padding-right: 8px;
    color:azure;
}