 body {
    background-color: red;
}

 embed#sample {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

blockquote {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    background-color: snow;
    color: black;
    border-bottom: solid 1px black;
    display: block;
    font-size: 20px;
}

.Copyright{
     position: absolute;
     right: 0;
     bottom: 0;
    font-size: 15px;
    color:black;
}

 .App-logo {
     animation: App-logo-spin infinite 20s linear;
     height: 6vmin;
     padding: 0;
     margin: 0;
 }

 @keyframes App-logo-spin {
     from {
         transform: rotate(0deg);
     }
     to {
         transform: rotate(360deg);
     }
 }




